/speech_driver/speech_driver/witkey.txt
/speech_driver/vosk/

### STS ###
.apt_generated
.classpath
.project
.settings
.springBeans
.sts4-cache


# Created by https://www.gitignore.io/api/git,java,maven,eclipse,windows

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# Code Recommenders
.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

.sts4-cache/

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Some additional ignores (sort later)
*.DS_Store
*.sw?
.#*
*#
*~
bin
build
target
*.sublime-*
/scratch
.gradle
README.html
.exercism

.DS_Store
out/
.micronaut/
/message_hub/target/
speech_driver/speech_driver/witkey.txt
/speech_driver/vosk
speech_driver/speech_driver/witkey.txt
speech_driver/speech_driver/witkey.txt
microphone-results.wav
witkey.txt
sound_driver/sound_driver/nl_NL-mls-medium.onnx
sound_driver/sound_driver/__pycache__/sound_driver.cpython-312.pyc
sound_driver/sound_driver/espeak-ng-data/af_dict
sound_driver/sound_driver/espeak-ng-data/am_dict
sound_driver/sound_driver/espeak-ng-data/an_dict
sound_driver/sound_driver/espeak-ng-data/ar_dict
sound_driver/sound_driver/espeak-ng-data/as_dict
sound_driver/sound_driver/espeak-ng-data/az_dict
sound_driver/sound_driver/espeak-ng-data/ba_dict
sound_driver/sound_driver/espeak-ng-data/be_dict
sound_driver/sound_driver/espeak-ng-data/bg_dict
sound_driver/sound_driver/espeak-ng-data/bn_dict
sound_driver/sound_driver/espeak-ng-data/bpy_dict
sound_driver/sound_driver/espeak-ng-data/bs_dict
sound_driver/sound_driver/espeak-ng-data/ca_dict
sound_driver/sound_driver/espeak-ng-data/chr_dict
sound_driver/sound_driver/espeak-ng-data/cmn_dict
sound_driver/sound_driver/espeak-ng-data/cs_dict
sound_driver/sound_driver/espeak-ng-data/cv_dict
sound_driver/sound_driver/espeak-ng-data/cy_dict
sound_driver/sound_driver/espeak-ng-data/da_dict
sound_driver/sound_driver/espeak-ng-data/de_dict
sound_driver/sound_driver/espeak-ng-data/el_dict
sound_driver/sound_driver/espeak-ng-data/en_dict
sound_driver/sound_driver/espeak-ng-data/eo_dict
sound_driver/sound_driver/espeak-ng-data/es_dict
sound_driver/sound_driver/espeak-ng-data/et_dict
sound_driver/sound_driver/espeak-ng-data/eu_dict
sound_driver/sound_driver/espeak-ng-data/fa_dict
sound_driver/sound_driver/espeak-ng-data/fi_dict
sound_driver/sound_driver/espeak-ng-data/fr_dict
sound_driver/sound_driver/espeak-ng-data/ga_dict
sound_driver/sound_driver/espeak-ng-data/gd_dict
sound_driver/sound_driver/espeak-ng-data/gn_dict
sound_driver/sound_driver/espeak-ng-data/grc_dict
sound_driver/sound_driver/espeak-ng-data/gu_dict
sound_driver/sound_driver/espeak-ng-data/hak_dict
sound_driver/sound_driver/espeak-ng-data/haw_dict
sound_driver/sound_driver/espeak-ng-data/he_dict
sound_driver/sound_driver/espeak-ng-data/hi_dict
sound_driver/sound_driver/espeak-ng-data/hr_dict
sound_driver/sound_driver/espeak-ng-data/ht_dict
sound_driver/sound_driver/espeak-ng-data/hu_dict
sound_driver/sound_driver/espeak-ng-data/hy_dict
sound_driver/sound_driver/espeak-ng-data/ia_dict
sound_driver/sound_driver/espeak-ng-data/id_dict
sound_driver/sound_driver/espeak-ng-data/intonations
sound_driver/sound_driver/espeak-ng-data/io_dict
sound_driver/sound_driver/espeak-ng-data/is_dict
sound_driver/sound_driver/espeak-ng-data/it_dict
sound_driver/sound_driver/espeak-ng-data/ja_dict
sound_driver/sound_driver/espeak-ng-data/jbo_dict
sound_driver/sound_driver/espeak-ng-data/ka_dict
sound_driver/sound_driver/espeak-ng-data/kk_dict
sound_driver/sound_driver/espeak-ng-data/kl_dict
sound_driver/sound_driver/espeak-ng-data/kn_dict
sound_driver/sound_driver/espeak-ng-data/ko_dict
sound_driver/sound_driver/espeak-ng-data/kok_dict
sound_driver/sound_driver/espeak-ng-data/ku_dict
sound_driver/sound_driver/espeak-ng-data/ky_dict
sound_driver/sound_driver/espeak-ng-data/la_dict
sound_driver/sound_driver/espeak-ng-data/lang/aav/vi
sound_driver/sound_driver/espeak-ng-data/lang/aav/vi-VN-x-central
sound_driver/sound_driver/espeak-ng-data/lang/aav/vi-VN-x-south
sound_driver/sound_driver/espeak-ng-data/lang/art/eo
sound_driver/sound_driver/espeak-ng-data/lang/art/ia
sound_driver/sound_driver/espeak-ng-data/lang/art/io
sound_driver/sound_driver/espeak-ng-data/lang/art/jbo
sound_driver/sound_driver/espeak-ng-data/lang/art/lfn
sound_driver/sound_driver/espeak-ng-data/lang/art/piqd
sound_driver/sound_driver/espeak-ng-data/lang/art/py
sound_driver/sound_driver/espeak-ng-data/lang/art/qdb
sound_driver/sound_driver/espeak-ng-data/lang/art/qya
sound_driver/sound_driver/espeak-ng-data/lang/art/sjn
sound_driver/sound_driver/espeak-ng-data/lang/azc/nci
sound_driver/sound_driver/espeak-ng-data/lang/bat/lt
sound_driver/sound_driver/espeak-ng-data/lang/bat/ltg
sound_driver/sound_driver/espeak-ng-data/lang/bat/lv
sound_driver/sound_driver/espeak-ng-data/lang/bnt/sw
sound_driver/sound_driver/espeak-ng-data/lang/bnt/tn
sound_driver/sound_driver/espeak-ng-data/lang/ccs/ka
sound_driver/sound_driver/espeak-ng-data/lang/cel/cy
sound_driver/sound_driver/espeak-ng-data/lang/cel/ga
sound_driver/sound_driver/espeak-ng-data/lang/cel/gd
sound_driver/sound_driver/espeak-ng-data/lang/cus/om
sound_driver/sound_driver/espeak-ng-data/lang/dra/kn
sound_driver/sound_driver/espeak-ng-data/lang/dra/ml
sound_driver/sound_driver/espeak-ng-data/lang/dra/ta
sound_driver/sound_driver/espeak-ng-data/lang/dra/te
sound_driver/sound_driver/espeak-ng-data/lang/esx/kl
sound_driver/sound_driver/espeak-ng-data/lang/eu
sound_driver/sound_driver/espeak-ng-data/lang/gmq/da
sound_driver/sound_driver/espeak-ng-data/lang/gmq/is
sound_driver/sound_driver/espeak-ng-data/lang/gmq/nb
sound_driver/sound_driver/espeak-ng-data/lang/gmq/sv
sound_driver/sound_driver/espeak-ng-data/lang/gmw/af
sound_driver/sound_driver/espeak-ng-data/lang/gmw/de
sound_driver/sound_driver/espeak-ng-data/lang/gmw/en
sound_driver/sound_driver/espeak-ng-data/lang/gmw/en-029
sound_driver/sound_driver/espeak-ng-data/lang/gmw/en-GB-scotland
sound_driver/sound_driver/espeak-ng-data/lang/gmw/en-GB-x-gbclan
sound_driver/sound_driver/espeak-ng-data/lang/gmw/en-GB-x-gbcwmd
sound_driver/sound_driver/espeak-ng-data/lang/gmw/en-GB-x-rp
sound_driver/sound_driver/espeak-ng-data/lang/gmw/en-US
sound_driver/sound_driver/espeak-ng-data/lang/gmw/en-US-nyc
sound_driver/sound_driver/espeak-ng-data/lang/gmw/lb
sound_driver/sound_driver/espeak-ng-data/lang/gmw/nl
sound_driver/sound_driver/espeak-ng-data/lang/grk/el
sound_driver/sound_driver/espeak-ng-data/lang/grk/grc
sound_driver/sound_driver/espeak-ng-data/lang/inc/as
sound_driver/sound_driver/espeak-ng-data/lang/inc/bn
sound_driver/sound_driver/espeak-ng-data/lang/inc/bpy
sound_driver/sound_driver/espeak-ng-data/lang/inc/gu
sound_driver/sound_driver/espeak-ng-data/lang/inc/hi
sound_driver/sound_driver/espeak-ng-data/lang/inc/kok
sound_driver/sound_driver/espeak-ng-data/lang/inc/mr
sound_driver/sound_driver/espeak-ng-data/lang/inc/ne
sound_driver/sound_driver/espeak-ng-data/lang/inc/or
sound_driver/sound_driver/espeak-ng-data/lang/inc/pa
sound_driver/sound_driver/espeak-ng-data/lang/inc/sd
sound_driver/sound_driver/espeak-ng-data/lang/inc/si
sound_driver/sound_driver/espeak-ng-data/lang/inc/ur
sound_driver/sound_driver/espeak-ng-data/lang/ine/hy
sound_driver/sound_driver/espeak-ng-data/lang/ine/hyw
sound_driver/sound_driver/espeak-ng-data/lang/ine/sq
sound_driver/sound_driver/espeak-ng-data/lang/ira/fa
sound_driver/sound_driver/espeak-ng-data/lang/ira/fa-Latn
sound_driver/sound_driver/espeak-ng-data/lang/ira/ku
sound_driver/sound_driver/espeak-ng-data/lang/iro/chr
sound_driver/sound_driver/espeak-ng-data/lang/itc/la
sound_driver/sound_driver/espeak-ng-data/lang/jpx/ja
sound_driver/sound_driver/espeak-ng-data/lang/ko
sound_driver/sound_driver/espeak-ng-data/lang/map/haw
sound_driver/sound_driver/espeak-ng-data/lang/miz/mto
sound_driver/sound_driver/espeak-ng-data/lang/myn/quc
sound_driver/sound_driver/espeak-ng-data/lang/poz/id
sound_driver/sound_driver/espeak-ng-data/lang/poz/mi
sound_driver/sound_driver/espeak-ng-data/lang/poz/ms
sound_driver/sound_driver/espeak-ng-data/lang/qu
sound_driver/sound_driver/espeak-ng-data/lang/roa/an
sound_driver/sound_driver/espeak-ng-data/lang/roa/ca
sound_driver/sound_driver/espeak-ng-data/lang/roa/es
sound_driver/sound_driver/espeak-ng-data/lang/roa/es-419
sound_driver/sound_driver/espeak-ng-data/lang/roa/fr
sound_driver/sound_driver/espeak-ng-data/lang/roa/fr-BE
sound_driver/sound_driver/espeak-ng-data/lang/roa/fr-CH
sound_driver/sound_driver/espeak-ng-data/lang/roa/ht
sound_driver/sound_driver/espeak-ng-data/lang/roa/it
sound_driver/sound_driver/espeak-ng-data/lang/roa/pap
sound_driver/sound_driver/espeak-ng-data/lang/roa/pt
sound_driver/sound_driver/espeak-ng-data/lang/roa/pt-BR
sound_driver/sound_driver/espeak-ng-data/lang/roa/ro
sound_driver/sound_driver/espeak-ng-data/lang/sai/gn
sound_driver/sound_driver/espeak-ng-data/lang/sem/am
sound_driver/sound_driver/espeak-ng-data/lang/sem/ar
sound_driver/sound_driver/espeak-ng-data/lang/sem/he
sound_driver/sound_driver/espeak-ng-data/lang/sem/mt
sound_driver/sound_driver/espeak-ng-data/lang/sit/cmn
sound_driver/sound_driver/espeak-ng-data/lang/sit/cmn-Latn-pinyin
sound_driver/sound_driver/espeak-ng-data/lang/sit/hak
sound_driver/sound_driver/espeak-ng-data/lang/sit/my
sound_driver/sound_driver/espeak-ng-data/lang/sit/yue
sound_driver/sound_driver/espeak-ng-data/lang/sit/yue-Latn-jyutping
sound_driver/sound_driver/espeak-ng-data/lang/tai/shn
sound_driver/sound_driver/espeak-ng-data/lang/tai/th
sound_driver/sound_driver/espeak-ng-data/lang/trk/az
sound_driver/sound_driver/espeak-ng-data/lang/trk/ba
sound_driver/sound_driver/espeak-ng-data/lang/trk/cv
sound_driver/sound_driver/espeak-ng-data/lang/trk/kk
sound_driver/sound_driver/espeak-ng-data/lang/trk/ky
sound_driver/sound_driver/espeak-ng-data/lang/trk/nog
sound_driver/sound_driver/espeak-ng-data/lang/trk/tk
sound_driver/sound_driver/espeak-ng-data/lang/trk/tr
sound_driver/sound_driver/espeak-ng-data/lang/trk/tt
sound_driver/sound_driver/espeak-ng-data/lang/trk/ug
sound_driver/sound_driver/espeak-ng-data/lang/trk/uz
sound_driver/sound_driver/espeak-ng-data/lang/urj/et
sound_driver/sound_driver/espeak-ng-data/lang/urj/fi
sound_driver/sound_driver/espeak-ng-data/lang/urj/hu
sound_driver/sound_driver/espeak-ng-data/lang/urj/smj
sound_driver/sound_driver/espeak-ng-data/lang/zle/be
sound_driver/sound_driver/espeak-ng-data/lang/zle/ru
sound_driver/sound_driver/espeak-ng-data/lang/zle/ru-cl
sound_driver/sound_driver/espeak-ng-data/lang/zle/ru-LV
sound_driver/sound_driver/espeak-ng-data/lang/zle/uk
sound_driver/sound_driver/espeak-ng-data/lang/zls/bg
sound_driver/sound_driver/espeak-ng-data/lang/zls/bs
sound_driver/sound_driver/espeak-ng-data/lang/zls/hr
sound_driver/sound_driver/espeak-ng-data/lang/zls/mk
sound_driver/sound_driver/espeak-ng-data/lang/zls/sl
sound_driver/sound_driver/espeak-ng-data/lang/zls/sr
sound_driver/sound_driver/espeak-ng-data/lang/zlw/cs
sound_driver/sound_driver/espeak-ng-data/lang/zlw/pl
sound_driver/sound_driver/espeak-ng-data/lang/zlw/sk
sound_driver/sound_driver/espeak-ng-data/lb_dict
sound_driver/sound_driver/espeak-ng-data/lfn_dict
sound_driver/sound_driver/espeak-ng-data/lt_dict
sound_driver/sound_driver/espeak-ng-data/lv_dict
sound_driver/sound_driver/espeak-ng-data/mi_dict
sound_driver/sound_driver/espeak-ng-data/mk_dict
sound_driver/sound_driver/espeak-ng-data/ml_dict
sound_driver/sound_driver/espeak-ng-data/mr_dict
sound_driver/sound_driver/espeak-ng-data/ms_dict
sound_driver/sound_driver/espeak-ng-data/mt_dict
sound_driver/sound_driver/espeak-ng-data/mto_dict
sound_driver/sound_driver/espeak-ng-data/my_dict
sound_driver/sound_driver/espeak-ng-data/nci_dict
sound_driver/sound_driver/espeak-ng-data/ne_dict
sound_driver/sound_driver/espeak-ng-data/nl_dict
sound_driver/sound_driver/espeak-ng-data/no_dict
sound_driver/sound_driver/espeak-ng-data/nog_dict
sound_driver/sound_driver/espeak-ng-data/om_dict
sound_driver/sound_driver/espeak-ng-data/or_dict
sound_driver/sound_driver/espeak-ng-data/pa_dict
sound_driver/sound_driver/espeak-ng-data/pap_dict
sound_driver/sound_driver/espeak-ng-data/phondata
sound_driver/sound_driver/espeak-ng-data/phondata-manifest
sound_driver/sound_driver/espeak-ng-data/phonindex
sound_driver/sound_driver/espeak-ng-data/phontab
sound_driver/sound_driver/espeak-ng-data/piqd_dict
sound_driver/sound_driver/espeak-ng-data/pl_dict
sound_driver/sound_driver/espeak-ng-data/pt_dict
sound_driver/sound_driver/espeak-ng-data/py_dict
sound_driver/sound_driver/espeak-ng-data/qdb_dict
sound_driver/sound_driver/espeak-ng-data/qu_dict
sound_driver/sound_driver/espeak-ng-data/quc_dict
sound_driver/sound_driver/espeak-ng-data/qya_dict
sound_driver/sound_driver/espeak-ng-data/ro_dict
sound_driver/sound_driver/espeak-ng-data/ru_dict
sound_driver/sound_driver/espeak-ng-data/sd_dict
sound_driver/sound_driver/espeak-ng-data/shn_dict
sound_driver/sound_driver/espeak-ng-data/si_dict
sound_driver/sound_driver/espeak-ng-data/sjn_dict
sound_driver/sound_driver/espeak-ng-data/sk_dict
sound_driver/sound_driver/espeak-ng-data/sl_dict
sound_driver/sound_driver/espeak-ng-data/smj_dict
sound_driver/sound_driver/espeak-ng-data/sq_dict
sound_driver/sound_driver/espeak-ng-data/sr_dict
sound_driver/sound_driver/espeak-ng-data/sv_dict
sound_driver/sound_driver/espeak-ng-data/sw_dict
sound_driver/sound_driver/espeak-ng-data/ta_dict
sound_driver/sound_driver/espeak-ng-data/te_dict
sound_driver/sound_driver/espeak-ng-data/th_dict
sound_driver/sound_driver/espeak-ng-data/tk_dict
sound_driver/sound_driver/espeak-ng-data/tn_dict
sound_driver/sound_driver/espeak-ng-data/tr_dict
sound_driver/sound_driver/espeak-ng-data/tt_dict
sound_driver/sound_driver/espeak-ng-data/ug_dict
sound_driver/sound_driver/espeak-ng-data/uk_dict
sound_driver/sound_driver/espeak-ng-data/ur_dict
sound_driver/sound_driver/espeak-ng-data/uz_dict
sound_driver/sound_driver/espeak-ng-data/vi_dict
sound_driver/sound_driver/espeak-ng-data/voices/\!v/adam
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Alex
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Alicia
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Andrea
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Andy
sound_driver/sound_driver/espeak-ng-data/voices/\!v/anika
sound_driver/sound_driver/espeak-ng-data/voices/\!v/anikaRobot
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Annie
sound_driver/sound_driver/espeak-ng-data/voices/\!v/announcer
sound_driver/sound_driver/espeak-ng-data/voices/\!v/antonio
sound_driver/sound_driver/espeak-ng-data/voices/\!v/AnxiousAndy
sound_driver/sound_driver/espeak-ng-data/voices/\!v/aunty
sound_driver/sound_driver/espeak-ng-data/voices/\!v/belinda
sound_driver/sound_driver/espeak-ng-data/voices/\!v/benjamin
sound_driver/sound_driver/espeak-ng-data/voices/\!v/boris
sound_driver/sound_driver/espeak-ng-data/voices/\!v/caleb
sound_driver/sound_driver/espeak-ng-data/voices/\!v/croak
sound_driver/sound_driver/espeak-ng-data/voices/\!v/david
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Demonic
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Denis
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Diogo
sound_driver/sound_driver/espeak-ng-data/voices/\!v/ed
sound_driver/sound_driver/espeak-ng-data/voices/\!v/edward
sound_driver/sound_driver/espeak-ng-data/voices/\!v/edward2
sound_driver/sound_driver/espeak-ng-data/voices/\!v/f1
sound_driver/sound_driver/espeak-ng-data/voices/\!v/f2
sound_driver/sound_driver/espeak-ng-data/voices/\!v/f3
sound_driver/sound_driver/espeak-ng-data/voices/\!v/f4
sound_driver/sound_driver/espeak-ng-data/voices/\!v/f5
sound_driver/sound_driver/espeak-ng-data/voices/\!v/fast
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Gene
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Gene2
sound_driver/sound_driver/espeak-ng-data/voices/\!v/grandma
sound_driver/sound_driver/espeak-ng-data/voices/\!v/grandpa
sound_driver/sound_driver/espeak-ng-data/voices/\!v/gustave
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Henrique
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Hugo
sound_driver/sound_driver/espeak-ng-data/voices/\!v/ian
sound_driver/sound_driver/espeak-ng-data/voices/\!v/iven
sound_driver/sound_driver/espeak-ng-data/voices/\!v/iven2
sound_driver/sound_driver/espeak-ng-data/voices/\!v/iven3
sound_driver/sound_driver/espeak-ng-data/voices/\!v/iven4
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Jacky
sound_driver/sound_driver/espeak-ng-data/voices/\!v/john
sound_driver/sound_driver/espeak-ng-data/voices/\!v/kaukovalta
sound_driver/sound_driver/espeak-ng-data/voices/\!v/klatt
sound_driver/sound_driver/espeak-ng-data/voices/\!v/klatt2
sound_driver/sound_driver/espeak-ng-data/voices/\!v/klatt3
sound_driver/sound_driver/espeak-ng-data/voices/\!v/klatt4
sound_driver/sound_driver/espeak-ng-data/voices/\!v/klatt5
sound_driver/sound_driver/espeak-ng-data/voices/\!v/klatt6
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Lee
sound_driver/sound_driver/espeak-ng-data/voices/\!v/linda
sound_driver/sound_driver/espeak-ng-data/voices/\!v/m1
sound_driver/sound_driver/espeak-ng-data/voices/\!v/m2
sound_driver/sound_driver/espeak-ng-data/voices/\!v/m3
sound_driver/sound_driver/espeak-ng-data/voices/\!v/m4
sound_driver/sound_driver/espeak-ng-data/voices/\!v/m5
sound_driver/sound_driver/espeak-ng-data/voices/\!v/m6
sound_driver/sound_driver/espeak-ng-data/voices/\!v/m7
sound_driver/sound_driver/espeak-ng-data/voices/\!v/m8
sound_driver/sound_driver/espeak-ng-data/voices/\!v/marcelo
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Marco
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Mario
sound_driver/sound_driver/espeak-ng-data/voices/\!v/max
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Michael
sound_driver/sound_driver/espeak-ng-data/voices/\!v/michel
sound_driver/sound_driver/espeak-ng-data/voices/\!v/miguel
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Mike
sound_driver/sound_driver/espeak-ng-data/voices/\!v/mike2
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Mr serious
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Nguyen
sound_driver/sound_driver/espeak-ng-data/voices/\!v/norbert
sound_driver/sound_driver/espeak-ng-data/voices/\!v/pablo
sound_driver/sound_driver/espeak-ng-data/voices/\!v/paul
sound_driver/sound_driver/espeak-ng-data/voices/\!v/pedro
sound_driver/sound_driver/espeak-ng-data/voices/\!v/quincy
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Reed
sound_driver/sound_driver/espeak-ng-data/voices/\!v/RicishayMax
sound_driver/sound_driver/espeak-ng-data/voices/\!v/RicishayMax2
sound_driver/sound_driver/espeak-ng-data/voices/\!v/RicishayMax3
sound_driver/sound_driver/espeak-ng-data/voices/\!v/rob
sound_driver/sound_driver/espeak-ng-data/voices/\!v/robert
sound_driver/sound_driver/espeak-ng-data/voices/\!v/robosoft
sound_driver/sound_driver/espeak-ng-data/voices/\!v/robosoft2
sound_driver/sound_driver/espeak-ng-data/voices/\!v/robosoft3
sound_driver/sound_driver/espeak-ng-data/voices/\!v/robosoft4
sound_driver/sound_driver/espeak-ng-data/voices/\!v/robosoft5
sound_driver/sound_driver/espeak-ng-data/voices/\!v/robosoft6
sound_driver/sound_driver/espeak-ng-data/voices/\!v/robosoft7
sound_driver/sound_driver/espeak-ng-data/voices/\!v/robosoft8
sound_driver/sound_driver/espeak-ng-data/voices/\!v/sandro
sound_driver/sound_driver/espeak-ng-data/voices/\!v/shelby
sound_driver/sound_driver/espeak-ng-data/voices/\!v/steph
sound_driver/sound_driver/espeak-ng-data/voices/\!v/steph2
sound_driver/sound_driver/espeak-ng-data/voices/\!v/steph3
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Storm
sound_driver/sound_driver/espeak-ng-data/voices/\!v/travis
sound_driver/sound_driver/espeak-ng-data/voices/\!v/Tweaky
sound_driver/sound_driver/espeak-ng-data/voices/\!v/UniRobot
sound_driver/sound_driver/espeak-ng-data/voices/\!v/victor
sound_driver/sound_driver/espeak-ng-data/voices/\!v/whisper
sound_driver/sound_driver/espeak-ng-data/voices/\!v/whisperf
sound_driver/sound_driver/espeak-ng-data/voices/\!v/zac
sound_driver/sound_driver/espeak-ng-data/yue_dict
sound_driver/sound_driver/soundbyte.wav
